
.header_area_sub_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_top{
    height: 80px;
}
.header_area {
    background-color: red;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    transition: 0.3s;
    box-shadow: 0 0 10px 0px rgb(253, 222, 222);
}

/*sticky START CSS*/
header.sticky {
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.sticky {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.857);
    -webkit-box-shadow: 0px 2px 10px -8px #ffffff !important;
    box-shadow: 0px 2px 10px -8px #ffffff !important;
    z-index: 99;
}
.number_area {
    display: flex;
    align-items: center;
}
.icon {
    background-color: #fff;
    color: red;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
.text h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
}
.text a {
    color: #fff;
    font-weight: 900;
}

.header_box_l_r{
    width: 20%;
}

.laptop_logo{
    z-index: 9999;
}
.laptop_logo a span img {
    max-width: 80px !important;
}
.laptop_logo a::before {
    display: none;
}
.tab_logo{
    z-index: 9999;
    display: none;
}
.tab_logo a span img {
    max-width: 80px !important;
}
.menu {
    text-align: right;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}
.menu li,
.menu li a {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    margin:0 7px;
}
.menu li a {
    position: relative;
}
.menu > li > a.active,
.menu > li > a:hover,
.menu > li > a:focus {
    color: #ffff00;
}
.menu li a::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #ffff00;
    top: 25px;
    border-radius: 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.menu li a:hover::before {
    width: 100%;
}
.Offcanvas span {
    display: block;
    height: 3px;
    width: 28px;
    background-color: #ffff00;
    transition: 0.15s;
}
.Offcanvas .middle {
    margin: 5px 0;
}
.Offcanvas:hover .middle {
    margin: 7px 0;
}
.Offcanvas {
    display: none;
}
.current .Offcanvas {
    top: -8px;
}
.current .Offcanvas .middle {
    visibility: hidden;
}
.current .Offcanvas span:first-child {
    transform: translateY(200%) rotate(135deg);
}
.current .Offcanvas span:last-child {
    transform: translateY(-325%) rotate(-135deg);
}
.current .Offcanvas:hover .middle {
    margin: 5px 0;
}

/* header responsive  */

@media (max-width: 1199px) {
}

@media (max-width: 991.98px) {
    .Offcanvas {
        display: block;
        position: absolute;
        right: 7.5px;
        top: -10px;
    }
    .menu {
        display: block;
        position: fixed;
        height: 100%;
        top: 0;
        left: 100%;
        width: 100%;
        background-color: #090909;
        padding-top: 85px;
        transition: .3s;
    }

    .menu li{
        text-align: center;
        display: block;
        margin-left: 0px;
    }
    .current .menu {
        left: 0;
    }
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {
}












.shop_icon {
    position: relative;
    font-size: 24px;
    display: flex;
    justify-content: end;
}
.shop_counter {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 800;
    color: rgb(255, 19, 19);
    background-color: #fff;
}
