/* slider area  */
.slider {
  background-color: red;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 80px);

}
.slider_item {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
}
.slider_item p{
  text-align: center;
}
.slider_bg_img {
  position: absolute !important;
  bottom: -30px !important;
  right: 120px !important;
  z-index: 9 !important;
  max-width: 220px !important;
  opacity: .7;
}
.slider_bg_img1 {
  position: absolute !important;
  bottom: -33px !important;
  right: 120px !important;
  z-index: 9 !important;
  max-width: 260px !important;
  animation: fire 5s ease-in-out infinite;
}
.slider_bg_img2 {
  position: absolute !important;
  bottom: -30px !important;
  right: 220px !important;
  z-index: 8 !important;
  max-width: 200px !important;
}
.slider_left{
  width: 45%;
  text-align: center;
}
.pizza{
  font-size: 120px;
  text-transform: uppercase;
  line-height: 0;
  font-weight: 700;
}
.slider_right{
  width: 55%;
  text-align: center;
}
.slider_right span{
  width: 100% !important;
}
.slider_right img{
  max-width: 100% !important;
  height: auto; 
  object-fit: contain;
}
@keyframes fire{
  0%{
    opacity: .1;
  }
  30%{
    opacity: .6;
  }
  50%{
    opacity: .1;
  }
  80%{
    opacity: .6;
  }
  100%{
    opacity: .1;
  }
}

/* pizza day area */

.pizzaday_area{
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.pizzaday_overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.418);
}
.pizzaday_text{
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 40px;
}
.pizzaday_text h4{
  font-size: 60px;
  margin-bottom: 10px;
}
.pizzaday_text p{
  width: 30%;
}