.product_area {
    margin: 120px 0;
}
.product_area h2 {
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin-bottom: 40px;
}
.product_area p {
    color: rgb(136, 136, 136);
}
.product_area_text {
    color: rgb(136, 136, 136);
    margin: 0 25%;
}
/* all_products */
.all_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    column-gap: 40px;
}
.product_box {
    border: 2px solid rgb(255, 209, 209);
    padding: 40px 20px 20px 20px;
    margin-top: 40px;
    border-radius: 10px;
    max-height: 700px;
    height: 100%;
    position: relative;
    transition: .4s;
}
.product_box:hover{
    border: 2px solid red;
    transform: scale(1.02);
}
.product_box:hover .product_bg_icon{
    opacity: 1;

} 
.product_img span img {
    max-width: 280px !important;
}
.product_img {
    position: relative;
    min-height: 200px;
}
.product_bg_icon span img {
    width: 120px !important;
}
.product_bg_icon {
    position: absolute;
    bottom: 5px;
    right: 15%;
    opacity: 0;
    transition: .4s;
}
.product_title {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    margin: 15px 0;
}
.product_price {
    text-align: center;
    position: absolute;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: red;
    width: 100px;
    top: 40px;
    right: -20px;
    padding: 5px 0;
}
.product_description {
    text-align: center;
}
.add_btn {
    background-color: red;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}
.add_btn:hover{
    background-color: rgb(202, 0, 0);
}